:root {
    --content-width: 1440px;

    --font-body: "Almarai", sans-serif;
    --font-display: "Red Rose", serif;

    --color-primary-dark: #303131;
    --color-primary-yellow: #f0ea6e;
    --color-white: #ffffff;
}
